.react-calendar {
  &__tile {
    &.highlight {
      background-color: #ffeb3b; // Yellow color for highlighted dates
      color: #000;
      font-weight: bold;
    }
  }
}

.cal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  .calendar {
    flex: 1 1 80%;
    min-width: 700px;
  }

  .task-list {
    flex: 1 1 10%;
    min-width: 100px;
  }
}
.task-tile-list {
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  padding: 2px;
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2px auto 0 auto;
  list-style: none;
  text-align: center;
}
.task-tile-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-weight: 500;
}
