.react-calendar {
  &__tile {
    &.highlight {
      background-color: #ffeb3b; // Yellow color for highlighted dates
      color: #000;
      font-weight: bold;
    }
  }
}

.cal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  .calendar {
    flex: 1 1 60%;
    min-width: 400px;
  }

  .task-list {
    flex: 1 1 45%;
    min-width: 300px;
  }
}
