.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 5px 5px;
  height: 50px;

}
 .nav {
   float: right;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
 
}
.link {
  color: #000000;
  text-decoration: none;
}

/* Hover effect */
.link:hover {
  color: #007bff;
  background-color: #ddd; 
}

/* Active NavLink style */
.active {
  color: #007bff;
  background-color: #ddd; 
  text-decoration: underline; 
}
.title {
    float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}
.title:hover {
    font-size: 30px;
  font-weight: bold;
}
