.header {
    // background: #E7E7E7;
    // display: flex;
    overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;

}
 .nav {
   float: right;
  color: #000000;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}
.title {
    float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}
.title:hover {
    font-size: 25px;
  font-weight: bold;
}
NavLink.active {
 background-color: dodgerblue;
  color: white;
}