.header {
    // background: #E7E7E7;
    // display: flex;
     width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            overflow: hidden;

}
h1 {
    font-style: italic,bold;
}