.logout-btn {
  background: none;
  border: none;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
    padding: 12px;
  transition: color 0.3s ease;
}

.logout-btn:hover {
  color: #007bff;
  background-color: #ddd; 
}

.logout-btn:active {
 color: #007bff;
  background-color: #ddd; 
  text-decoration: underline;
}
