.login_container{
     background: url('../../../public/Image/taskimage.png');
    height: 100vh;
    width:100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container_box{
    background: fade-out($color:#eceffc, $amount: .15);
    border-radius: 3px;
    text-align: center;
    width: 20rem;
    padding: $l-size $m-size;
    line-height: 1.6;
}
.login_heading{
color: $dark-grey;
   margin: 0 0 24px 0;
    line-height: 1;
}
.login_form{
    display: flex;
  flex-direction: column;
}