.dashbord-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  .search{
    flex: 1 1 30%;
    min-width: 100px;
  }
  .calender {
    flex: 1 1 65%;
    min-width: 600px;
  }
}